<!--
SPDX-FileCopyrightText: Fondation RERO+
SPDX-FileCopyrightText: UCLouvain
SPDX-License-Identifier: AGPL-3.0-or-later
-->

<ul class="ui:list-none ui:m-0 ui:p-0 ui:text-sm">
  @for (subtype of data()?.subtypes; track $index) {
    <li>
      <div class="ui:flex">
        <span class="ui:grow">{{ subtype.name | translate }}</span>
        <span>{{ subtype.total | currency: org_currency: 'symbol' }}</span>
      </div>
    </li>
  }
    <p-divider></p-divider>
  <li class="ui:flex ui:font-bold">
    <span class="ui:grow" translate>Total</span>
    <span>{{ data()?.total | currency: org_currency: 'symbol' }}</span>
  </li>
</ul>


