<!--
SPDX-FileCopyrightText: Fondation RERO+
SPDX-FileCopyrightText: UCLouvain
SPDX-License-Identifier: AGPL-3.0-or-later
-->
@defer (when !isLoading()) {
  @if (localFields().length > 0) {
    <div class="ui:py-3">
      @for (field of localFields(); track $index) {
        <dl class="metadata ui:odd:bg-surface-50">
          <dt translate>{{ 'local_' + field.name }}</dt>
          <dd>{{ field.value | join:'; ' }}</dd>
        </dl>
      }
    </div>
  }
  @if (!readOnly()) {
    @if (localFields().length > 0) {
      <div class="ui:flex ui:gap-1">
        @if ($any(recordPermissions())?.update?.can) {
          <p-button
            icon="fa fa-pencil"
            [label]="'Edit'|translate"
            outlined
            [routerLink]="['/records', 'local_fields', 'edit', pid()]"
            [queryParams]="{ type: resourceType(), ref: resourcePid() }"
            size="small"
          />
        }
        @if ($any(recordPermissions())?.delete?.can) {
          <p-button
            icon="fa fa-trash"
            [label]="'Delete'|translate"
            severity="danger"
            outlined
            size="small"
            (onClick)="delete()"
          />
        }
      </div>
    } @else if (canAdd()) {
      <div class="ui:flex ui:justify-end">
        <p-button
          icon="fa fa-plus-square-o"
          [label]="'Add local fields'|translate"
          outlined
          [routerLink]="['/records', 'local_fields', 'new']"
          [queryParams]="{ type: resourceType(), ref: resourcePid() }"
        />
      </div>
    }
  }

} @placeholder {
  <i class="fa fa-spin fa-spinner"></i>&nbsp;{{ 'Loading in progress…' | translate }}
}
