<!--
SPDX-FileCopyrightText: Fondation RERO+
SPDX-FileCopyrightText: UCLouvain
SPDX-License-Identifier: AGPL-3.0-or-later
-->
@if (record()) {
  <div class="ui:flex ui:flex-col ui:gap-2">
    <div class="ui:flex">
      <h5 class="ui:grow">
        <a [routerLink]="[detailUrl().link]">
          {{ record().metadata.last_name }}
          @if (record().metadata.first_name) {
            {{ record().metadata.first_name }}
          }
        </a>
      </h5>
      @if (circulationAccess && record().metadata.patron) {
        <p-button
          [title]="'Circulation' | translate"
          icon="fa-solid fa-right-left"
          class="ui:my-0 ui:py-0"
          outlined
          (onClick)="goToCirculation(record().metadata.patron.barcode[0])"
        />
      }
    </div>

    <div class="ui:flex ui:gap-1 ui:flex-wrap">
      @for (role of record().metadata.roles; track $index) {
        <p-tag [severity]="$any(getRoleTagSeverity(role))">
          {{ role | translate }}
        </p-tag>
      }
    </div>

    <span>
      {{ record().metadata.birth_date | dateTranslate:'mediumDate' }} &mdash; {{ record().metadata.city }}
    </span>
  </div>
}
