<!--
SPDX-FileCopyrightText: Fondation RERO+
SPDX-License-Identifier: AGPL-3.0-or-later
-->
@if (store.isFilterEnabled()) {
  <div class="my-2">
    <p-inputgroup>
      <input pInputText [(ngModel)]="filter" [placeholder]="'Filter' | translate" />
      <p-inputgroup-addon><i class="fa fa-filter"></i></p-inputgroup-addon>
    </p-inputgroup>
    @if (store.total() > 0) {
      <small class="ui:ml-2">
        @if (store.filterTotal() <= 1) {
          {{ "{{ total }} result of {{ remoteTotal }}" | translate: { total: store.filterTotal(), remoteTotal: store.total() } }}
        } @else {
          {{ "{{ total }} results of {{ remoteTotal }}" | translate: { total: store.filterTotal(), remoteTotal: store.total() } }}
        }
      </small>
    }
  </div>
}

@for (item of store.items(); track item.metadata.pid) {
  <div class="ui:odd:bg-surface-50">
    <public-search-item context="holding" [item]="item" [viewcode]="store.viewCode()" />
  </div>
} @empty {
  <div class="ui:my-3 ui:font-bold" translate>No item found.</div>
}

@if (store.isPaginatorEnabled()) {
  <shared-paginator [pager]="store.pager()" [total]="store.total()" (pageChange)="store.setPaginator($event)" />
}
