<!--
SPDX-FileCopyrightText: Fondation RERO+
SPDX-FileCopyrightText: UCLouvain
SPDX-License-Identifier: AGPL-3.0-or-later
-->
@if (editableItem(); as item) {
  <h1>{{'Switch item location' | translate}}: {{ initialLocationName() }} ({{ item.barcode }})</h1>

  @if (initialLocationName() && options().length > 0) {
    <div class="ui:mt-6">
      <form [formGroup]="form" (ngSubmit)="submit()">
        <p-card class="ui:bg-white">
          <div class="ui:flex ui:flex-col ui:gap-1 ui:m-3">
            <label for="target">{{ 'Target' | translate }}&nbsp;*</label>
            <p-select
              inputId="target"
              formControlName="target"
              [options]="options()"
              [group]="true"
              [placeholder]="'Select…' | translate"
              class="ui:w-full"
              [filter]="isFilterActive()"
              filterBy="label"
            />
          </div>
          <ng-template #footer>
            <div class="ui:flex ui:gap-2 ui:justify-end ui:m-3">
              <p-button [label]="'Cancel'|translate" [outlined]="true" severity="danger" (onClick)="cancel()" />
              <p-button [label]="'Save'|translate" type="submit" [disabled]="form.invalid || httpPending.isPending()" />
            </div>
          </ng-template>
        </p-card>
      </form>
    </div>
  }
} @else {
  <i class="fa-solid fa-spin fa-spinner"></i>&nbsp;{{ 'Loading in progress…' | translate }}
}
