<!--
SPDX-FileCopyrightText: Fondation RERO+
SPDX-License-Identifier: AGPL-3.0-or-later
-->
<p-menubar class="ui:relative ui:z-20" [model]="items()" [autoDisplay]="false">
  <ng-template #item let-item let-root="root">
    <a
      pRipple
      class="ui:flex ui:items-center p-menubar-item-link"
      [attr.id]="item.id"
      [routerLink]="item.routerLink"
      [href]="item.url"
      [queryParams]="item.queryParams"
    >
      @if (item.icon) {
        <span [class]="item.icon" class="p-menubar-item-icon"></span>
      }
      <span>{{ item.label }}</span>
      @if (item.shortcut) {
        <span class="ui:ml-auto ui:border ui:border-surface ui:rounded ui:bg-surface-100 ui:bg-emphasis ui:text-muted-color ui:text-xs ui:p-1">
          {{ item.shortcut }}
        </span>
      }
      @if (item.items) {
        <i [ngClass]="['ui:ml-auto fa', root ? 'fa-angle-down ui:ml-2' : 'fa-angle-right']"></i>
      }
    </a>
  </ng-template>
  <ng-template #end>
    <admin-menu-user />
  </ng-template>
</p-menubar>
