<!--
SPDX-FileCopyrightText: Fondation RERO+
SPDX-License-Identifier: AGPL-3.0-or-later
-->
@if (hasPatron()) {
  @if (!requestDialog()) {
    <p-button
      styleClass="ui:m-2"
      class="ui:pointer-events-auto"
      id="record-{{ record()?.metadata.pid }}-request-button"
      outlined
      (onClick)="showRequestDialog()"
      [hidden]="!hiddenRequestButton()"
      [disabled]="!canRequest().can"
      [tooltipDisabled]="canRequest().can"
      [pTooltip]="tooltip()"
      tooltipPosition="top"
    >
      <i class="fa-solid fa-cart-arrow-down ui:mr-2"></i>
      @if (holdingsItemsCount() > 0) {
        {{ 'Request another issue' | translate }}
      } @else {
        {{ 'Request an issue' | translate }}
      }
      </p-button>
  } @else {
    <public-search-pickup-location
      [record]="record()"
      [itemCount]="holdingsItemsCount()"
      [recordType]="recordType()"
      [viewcode]="viewcode()"
      (closeEvent)="closeDialog()"
      class="ui:w-full"
    />
  }
}
