<!--
SPDX-FileCopyrightText: Fondation RERO+
SPDX-FileCopyrightText: UCLouvain
SPDX-License-Identifier: AGPL-3.0-or-later
-->
@if (data()?.total > 0) {
  <p-fieldset>
    <ng-template #header>
      <div class="ui:flex ui:items-center">
        <span translate>Amount received</span>
        <p-button severity="secondary" text size="small" [icon]="mode() === 'pie'? 'fa-solid fa-list': 'fa-solid fa-chart-pie'" (onClick)="updateMode($event)" />
      </div>
    </ng-template>
    @switch (mode()) {
      @case ('table') {
        <admin-payments-data-table [data]="data()" />
      }
      @case ('pie') {
        <admin-payments-data-pie [data]="data()" />
      }
    }
  </p-fieldset>
}


