<!--
SPDX-FileCopyrightText: Fondation RERO+
SPDX-License-Identifier: AGPL-3.0-or-later
-->

@if (record()) {
  @let m = $any(record()!.metadata);
  <div class="ui:grid ui:grid-cols-12 ui:gap-4 ui:p-2 ui:pl-1" [ngClass]="{'callout callout-success':m.state === 'ITEM_AT_DESK'}">

    <div class="ui:md:col-span-8 ui:col-span-12 ui:flex ui:gap-2">
      <shared-open-close-button (status)="isCollapsed = $event" />
      <div class="ui:w-full">
        <!-- DOCUMENT & ADDITIONAL DATA ===================================== -->
        <public-search-patron-profile-document
          [record]="record()"
          [showAdditionalInformation]="!isCollapsed"
          [isAnimated]="true"
        />
        <dl class="ui:grid ui:grid-cols-4">
          <dt class="ui:hidden ui:md:block ui:font-bold ui:mr-2" translate>Pickup location</dt>
          <dd class="ui:col-span-3">{{ m.pickup_name }}</dd>
        </dl>
        <dl class="ui:md:hidden ui:grid ui:grid-cols-4">
          <dt class="ui:hidden" translate>Status</dt>
          <dd class="ui:col-span-3">
            <ng-container [ngTemplateOutlet]="status" />
          </dd>
        </dl>
      </div>
    </div>
        <!-- STATUS ========================================================= -->
    <div class="ui:md:col-span-2 ui:col-span-12 ui:hidden ui:md:block">
      <ng-container [ngTemplateOutlet]="status" />
    </div>
    <!-- ACTION BUTTONS ================================================= -->
    <div class="ui:md:col-span-2 ui:col-span-12 ui:flex ui:justify-end">
      @if (['PENDING', 'ITEM_IN_TRANSIT_FOR_PICKUP'].includes(m.state)) {
        <p-button
          size="small"
          id="request-cancel-{{ m.pid }}"
          (onClick)="cancel()"
          [disabled]="cancelInProgress()"
          [label]="'Cancel' | translate"
          outlined
          severity="danger"
          [icon]="!(!cancelInProgress() || actionDone()) ? 'fa fa-spinner': 'fa fa-trash'"
        />
      }
    </div>
  </div>
}

<ng-template #status>
  @let ms = $any(record()?.metadata);
  <!-- ITEM AT DESK -->
  @if (ms?.state === 'ITEM_AT_DESK') {
    <i class="fa fa-check text-success"  title="{{ 'item at desk' | translate }}" aria-hidden="true"></i>
    {{ 'to pick up' | translate }}
    @if (ms?.request_expire_date) {
      {{ 'until' | translate }} {{ ms.request_expire_date | dateTranslate: 'shortDate'}}
    }
  }
  <!-- PENDING OR ITEM IN TRANSIT FOR PICKUP -->
  @if (['PENDING', 'ITEM_IN_TRANSIT_FOR_PICKUP'].includes(ms?.state)) {
    <i class="fa fa-ellipsis-h ui:pr-1"  title="{{ 'pending' | translate }}" aria-hidden="true"></i>
    <!-- TODO: Add expired date and remove "waiting" text
    expected availability 00.00.0000  -->
    {{ 'waiting' | translate }}
  }
  <!-- PENDING -->
  @if (ms?.state === 'PENDING' && ms?.rank && ms?.rank > 0) {
    <div [translate]="'(position {{ rank }} in waiting list)'" [translateParams]="{ rank: ms.rank }"></div>
  }
</ng-template>
