<!--
SPDX-FileCopyrightText: Fondation RERO+
SPDX-FileCopyrightText: UCLouvain
SPDX-License-Identifier: AGPL-3.0-or-later
-->
@if (transaction()) {
  <div class="ui:grid ui:grid-cols-12">
    @if (transaction().note) {
      <div class="ui:col-span-2" translate>Note</div>
      <div class="ui:col-span-10">{{ transaction().note }}</div>
    }
    @if (transaction()?.document?.pid) {
      @if(transaction().document.pid | getRecord:'documents' | async; as document) {
        <div class="ui:col-span-2" translate>Document</div>
        <div class="ui:col-span-10">
          @if ($any(document).metadata.title | mainTitle; as title) {
            <a [routerLink]="['/records','documents','detail', transaction().document.pid]">
              {{ title | truncateText: 15 }}
            </a>
          }
        </div>
      }
    }
    @if (item(); as item) {
      <div class="ui:col-span-2" translate>Item</div>
      <div class="ui:col-span-10">
        <a [routerLink]="['/records','items','detail', item.pid]">{{ item.barcode }}</a>
      </div>
    }
    @if (transaction().loan !== null) {
      @if (transaction().loan.pid | getRecord: 'loans' | async; as loan) {
        <div class="ui:col-span-2" translate>Loan started at</div>
        <div class="ui:col-span-10">{{ $any(loan).metadata.start_date | dateTranslate: 'shortDate' }}</div>
      }
    }
  </div>
}
