
<!--
SPDX-FileCopyrightText: Fondation RERO+
SPDX-License-Identifier: AGPL-3.0-or-later
-->
<h4>
  <a [href]="recordDetailUrl() | safeUrl">{{ record().metadata.title }}</a>
  @if (record().metadata.collection_id) {
    ({{ record().metadata.collection_id }})
  }
</h4>
<div>
  @if (record().metadata.teachers) {
    <div>
      @for (teacher of $any(record().metadata.teachers); track $index; let last = $last) {
        {{ teacher.name }}{{ last ? '' : ', ' }}
      }
    </div>
  }
  @if (record().metadata.description) {
    <div [innerHtml]="$any(record().metadata.description) | nl2br"></div>
  }
  <div>
    {{ $any(record().metadata.start_date) | dateTranslate: 'mediumDate' }}
    - {{ $any(record().metadata.end_date) | dateTranslate: 'mediumDate' }}
  </div>
</div>
