<!--
SPDX-FileCopyrightText: Fondation RERO+
SPDX-FileCopyrightText: UCLouvain
SPDX-License-Identifier: AGPL-3.0-or-later
-->
@defer (when permissions().length > 0) {
  <div class="ui:flex ui:flex-col ui:gap-2">
    <label for="filter" translate>Filter permission list</label>
    <input
        pInputText
        #search
        id="filter"
        (keyup)="filterPermissions(search.value)"
    />
    <small id="filterInfo" class="ui:text-muted-color" translate>Enter a part of the permission name to filter the list.</small>
  </div>
  <div class="ui:grid ui:grid-cols-12 ui:gap-4 ui:mt-4 ui:mb-2">
    <div class="ui:col-span-10 ui:font-bold ui:uppercase" translate>Permission</div>
    <div class="ui:col-span-2 ui:font-bold ui:text-center ui:uppercase" translate>Access</div>
  </div>
  <div>
    @for (permission of filteredPermissions(); track $index) {
      <div class="ui:odd:bg-surface-50">
        <admin-patron-permission [permission]="permission" />
      </div>
    }
  </div>
} @placeholder {
  <i class="fa fa-spin fa-spinner"></i>&nbsp;{{ 'Loading in progress…' | translate }}
}
