<!--
SPDX-FileCopyrightText: Fondation RERO+
SPDX-License-Identifier: AGPL-3.0-or-later
-->
@if (exception()) {
  <div class="ui:grid ui:grid-cols-12 ui:gap-4 ui:mx-2 ui:my-1" [ngClass]="{'ui:text-muted-color': isOver(exception())}">
    <i class="fa-solid ui:col-span-1" aria-hidden="true" [ngClass]="{
      'fa-circle text-success': exception().is_open,
      'fa-ban text-error': !exception().is_open
    }"></i>
    <div class="ui:col-span-3">
      {{ exception().start_date | dateTranslate:'longDate' }}
      @if (exception().end_date) {
        <i class="fa-solid fa-arrow-right-long"></i>&nbsp;{{ exception().end_date | dateTranslate:'longDate' }}
      }
    </div>
    <div class="ui:col-span-2">
      @if (exception().times) {
        @for (time of exception().times; track $index) {
          <div>{{ time.start_time }} - {{ time.end_time }}</div>
        }
      }
      @if (exception().repeat) {
        <i class="fa-solid fa-arrows-rotate"></i>&nbsp;
        {{ exception().repeat?.period | translate }}={{ exception().repeat?.interval }}
      }
    </div>
    <span class="ui:col-span-5">{{ exception().title }}</span>
    <div class="ui:col-span-1">
      <ng-content></ng-content>
    </div>
  </div>
}
