<!--
SPDX-FileCopyrightText: Fondation RERO+
SPDX-License-Identifier: AGPL-3.0-or-later
-->
<div class="ui:font-bold ui:mb-4" translate>
    One item and one patron were found.
</div>
<div class="ui:flex ui:gap-2" tabindex="0" (keyup.enter)="checkinItemOnEnterKey($event)">
  <p-button
    id="action-patron"
    icon="fa fa-user"
    styleClass="ui:outline-0"
    [label]="'Patron account'|translate"
    outlined
    (onClick)="setAction('patron')"
  />
  <p-button
    id="action-item"
    icon="fa fa-file-o"
    styleClass="ui:outline-0"
    [label]="'Checkin the item'|translate"
    outlined
    (onClick)="setAction('item')"
  />
</div>
