<!--
SPDX-FileCopyrightText: Fondation RERO+
SPDX-FileCopyrightText: UCLouvain
SPDX-License-Identifier: AGPL-3.0-or-later
-->
@if (response(); as preview) {
  <admin-preview-email
    [emails]="suggestions().emails"
    [emailTypes]="emailTypes"
    [mandatoryEmailTypes]="mandatoryEmailTypes"
    [preview]="preview.preview"
    [previewPosition]="'bottom'"
    [prePopulateRecipients]="suggestions().recipients"
    (closeDialog)="closeDialog()"
    (data)="confirmOrder($event)"
  >
    <ng-container headerMessage>
      <p translate>You're about to send the order.</p>
    </ng-container>
    <ng-container previewBottomMessage>
      <p translate>Below you can find the preview message that will be sent</p>
    </ng-container>
  </admin-preview-email>
}
