<!--
SPDX-FileCopyrightText: Fondation RERO+
SPDX-License-Identifier: AGPL-3.0-or-later
-->
@defer (when formFields() !== undefined) {
  <form [formGroup]="form" (ngSubmit)="submit(model)">
    <formly-form [form]="form" [fields]="formFields()" [model]="model" />
    <div class="ui:flex ui:justify-end ui:gap-1 ui:mt-2">
      <p-button [label]="'Cancel'|translate" severity="danger" outlined (onClick)="closeModal()" />
      <p-button [label]="'Save'|translate" type="submit" [disabled]="!form.valid || httpPending.isPending()" />
    </div>
  </form>
}
