<!--
SPDX-FileCopyrightText: Fondation RERO+
SPDX-FileCopyrightText: UCLouvain
SPDX-License-Identifier: AGPL-3.0-or-later
-->
<p-panel>
  <ng-template #header>
    <div class="ui:w-full ui:flex ui:items-center ui:justify-between ui:gap-2">
      <span class="ui:text-bold ui:text-xl ui:flex ui:gap-2" translate>
        {{ numberOfReceipt | i18nPlural : { "=1": "Receipt", other: "Receipts" } | translate }}
        <p-badge [value]="numberOfReceipt" />
      </span>
      <p-button
        icon="fa-regular fa-square-plus"
        size="small"
        [outlined]="true"
        [label]="'Add' | translate"
        [routerLink]="['/acquisition', 'records', 'acq_orders', 'receive', order()?.pid]"
        [queryParams]="{ order: order()?.pid }"
        [pTooltip]="tooltipContent"
        tooltipPosition="top"
        [disabled]="!recordPermissions()?.create?.can"
        [tooltipDisabled]="recordPermissions()?.create?.can"
      />
      <ng-template #tooltipContent>
        <span [innerHTML]="createInfoMessage | nl2br"></span>
      </ng-template>
    </div>
  </ng-template>
  @if (receipts().length > 0) {
    @for (receipt of receipts(); track receipt.pid) {
      <div class="ui:odd:bg-surface-50">
        <admin-receipt-summary [receiptPid]="receipt.pid" [allowActions]="true" />
      </div>
    }
  } @else {
    <div class="ui:my-3 ui:mx-4" translate>No receipt</div>
  }
</p-panel>
