<!--
SPDX-FileCopyrightText: Fondation RERO+
SPDX-FileCopyrightText: UCLouvain
SPDX-License-Identifier: AGPL-3.0-or-later
-->
@if (record()) {
  <article class="ui:flex ui:gap-6">
    <div class="ui:hidden ui:md:block">
      <shared-thumbnail [record]="record()" />
    </div>
    <div class="ui:grow">
      <!-- document title -->
      <h4 class="ui:mb-1">
        <a target="_self" [routerLink]="['/records', type().startsWith('import_') ? type(): 'documents', 'detail', record().metadata.pid]">{{ record().metadata.title | mainTitle }}</a>
      </h4>
      <!-- contribution -->
      <shared-contribution
        [contributions]="record().metadata?.contribution"
        [limitRecord]="3"
        [activateLink]="!type().startsWith('import_')"
      />
      <!-- provision activity publications -->
      @if (provisionActivityPublications.length > 0) {
        <ul class="ui:list-none">
          @for (publication of provisionActivityPublications; track $index) {
            <li>{{ publication.value }}</li>
          }
        </ul>
      }
      <!-- shared part -->
      <shared-part-of [record]="record()" />
      <!-- edition statement -->
      @if (record().metadata.editionStatement) {
        <ul class="ui:list-none">
          @for (edition of record().metadata.editionStatement; track $index) {
            <li>{{ edition._text[0].value }}</li>
          }
        </ul>
      }
      <!-- availability -->
      @if (!type().startsWith('import_') && record().metadata.type !== 'ebook') {
        <shared-availability
          recordType="document"
          [record]="record()"
          [apiService]="documentApiService"
        />
      }
    </div>
  </article>
}
