<!--
SPDX-FileCopyrightText: Fondation RERO+
SPDX-License-Identifier: AGPL-3.0-or-later
-->
<div class="ui:grid ui:grid-cols-12 ui:gap-4 ui:mb-6 ui:print:hidden">
  <div class="ui:col-span-6">
    <ng-core-search-input
      [placeholder]="placeholder | translate"
      [searchText]="searchText()"
      (searchQuery)="searchValueUpdated($event)"
      [focus]="searchInputFocus()"
      [disabled]="searchInputDisabled()"
    />
  </div>
  <!-- Sorting loans -->
  <div class="ui:col-span-6">
    <!-- auto refresh -->
    <div class="ui:flex ui:gap-2 ui:w-full ui:items-center">
      <div class="ui:flex ui:grow ui:gap-2 ui:justify-start">
        <p-toggleswitch id="auto-refresh" [ngModel]="refreshInterval() > 0" (onChange)="enableAutoRefresh($event.checked)" />
        <label for="auto-refresh" translate>Auto refresh</label>
      </div>
      <div class="ui:flex ui:gap-2 ui:justify-end">
        @if (refreshInterval() > 0) {
          <p-select [options]="refreshOptions" optionValue="value" [ngModel]="refreshInterval().toString()" (onChange)="selectingIntervalTimer($event.value)">
            <ng-template #selectedItem let-item>
              <div class="ui:flex ui:items-center ui:gap-2">
                <i [class]="item.icon"></i>
                <div>{{ item.label }}</div>
              </div>
            </ng-template>
            <ng-template #item let-item>
              <div class="ui:flex ui:items-center ui:gap-2">
                <i [class]="item.icon"></i>
                <div>{{ item.label }}</div>
              </div>
            </ng-template>
          </p-select>

        }
        <!-- Sorting loans -->
        <p-select [options]="sortingCriteria()" optionValue="value" [ngModel]="sortCriteria()" (onChange)="selectingSortCriteria($event.value)">
          <ng-template #selectedItem let-item>
            <div class="ui:flex ui:items-center ui:gap-2">
              <i [class]="item.icon"></i>
              <div>{{ item.label }}</div>
            </div>
          </ng-template>
          <ng-template #item let-item>
            <div class="ui:flex ui:items-center ui:gap-2">
              <i [class]="item.icon"></i>
              <div>{{ item.label }}</div>
            </div>
          </ng-template>
        </p-select>
      </div>

    </div>
  </div>
</div>

<div class="ui:grid ui:grid-cols-12 ui:gap-4">
  <div class="ui:col-span-12">
    <admin-circulation-requested-items-list
      [items]="items()"
      (requestValidated)="searchValueUpdated($event)"
    />
  </div>
</div>
