<!--
SPDX-FileCopyrightText: Fondation RERO+
SPDX-License-Identifier: AGPL-3.0-or-later
-->
@if (patron()) {
  <form [formGroup]="form()" (ngSubmit)="submit(patron())">
    <formly-form [form]="form()" [fields]="formFields()" [model]="model" />
  </form>
  <div class="ui:flex ui:gap-1 ui:justify-end ui:mt-3">
    <p-button
      [label]="'Cancel'|translate"
      [outlined]="true"
      severity="danger"
      (onClick)="closeModal()"
    />
    <p-button
      id="change-password-submit-button"
      [label]="'Submit'|translate"
      [disabled]="!form().valid || httpPending.isPending()"
      (onClick)="submit(patron())"
    />
  </div>
}
