<!--
SPDX-FileCopyrightText: Fondation RERO+
SPDX-License-Identifier: AGPL-3.0-or-later
-->
<!-- CALL NUMBER -->
@if (holding()) {
  @if (holding().metadata.call_number || holding().metadata.second_call_number) {
    <dl class="metadata">
      <dt translate>Call number</dt>
      <dd>
        @if (holding().metadata.call_number) {
          {{ holding().metadata.call_number }}
        }
        @if (holding().metadata.call_number && holding().metadata.second_call_number) {
          |
        }
        @if (holding().metadata.second_call_number) {
          {{ holding().metadata.second_call_number }}
        }
      </dd>
    </dl>
  }

  <!-- AVAILABLE COLLECTION -->
  @if (holding().metadata.enumerationAndChronology) {
    <dl class="metadata">
      <dt translate>Available collection</dt>
      <dd

        [innerHTML]="holding().metadata.enumerationAndChronology | nl2br">
      </dd>
    </dl>
  }

  <!-- SUPPLEMENTARY CONTENT -->
  @if (holding().metadata.supplementaryContent) {
    <dl class="metadata">
      <dt translate>Supplementary content</dt>
      <dt>
        {{ holding().metadata.supplementaryContent }}
      </dt>
    </dl>
  }

  <!-- INDEXES -->
  @if (holding().metadata.index) {
    <dl class="metadata">
      <dt translate>Indexes</dt>
      <dd>
        {{ holding().metadata.index }}
      </dd>
    </dl>
  }
}
