<!--
SPDX-FileCopyrightText: Fondation RERO+
SPDX-License-Identifier: AGPL-3.0-or-later
-->
@if (record(); as rec) {
  <section class="ui:flex ui:flex-col ui:py-2 ui:gap-2">
    <h1 id="collection-title">{{ rec.metadata.title }}</h1>
    @if (rec.metadata.subjects) {
      <div id="subject" class="ui:flex ui:gap-1 ui:flex-wrap">
        @for(subject of rec.metadata.subjects; track $index) {
          <p-tag severity="secondary">
            <i class="fa-solid fa-tag"></i>&nbsp;{{ subject.name }}
          </p-tag>
        }
      </div>
    }
    <dl class="metadata">
      @if (rec.metadata.description) {
        <dt translate>Description</dt>
        <dd [innerHtml]="rec.metadata.description | nl2br"></dd>
      }
      @if (rec.metadata.teachers) {
        <dt translate>Teachers</dt>
        <dd>
          @for (teacher of rec.metadata.teachers; track $index; let last = $last) {
            {{ teacher.name }} {{ last ? '' : ', ' }}
          }
        </dd>
      }
      @if (rec.metadata.collection_id) {
        <dt translate>Collection ID</dt>
        <dd>{{ rec.metadata.collection_id }}</dd>
      }
      @if (rec.metadata.collection_type) {
        <dt translate>Type</dt>
        <dd>{{ rec.metadata.collection_type }}</dd>
      }
      @if (rec.metadata.libraries) {
        <dt translate>Libraries</dt>
        <dd>
          <ul class="ui:list-none">
            @for (library of rec.metadata.libraries; track $index; let last=$last) {
              <li>{{ library.pid | getRecord: 'libraries' : 'field' : 'name' | async }}</li>
            }
          </ul>
        </dd>
      }
      <dt translate>Date</dt>
      <dd>
        {{ rec.metadata.start_date | dateTranslate: 'mediumDate' }}
        - {{ rec.metadata.end_date | dateTranslate: 'mediumDate' }}
      </dd>
      <dt translate>Status</dt>
      <dd>
        <i class="fa-solid fa-circle ui:mr-1" aria-hidden="true" [ngClass]="{'text-success': rec.metadata.published, 'text-error': !rec.metadata.published}"></i>
        @if (rec.metadata.published) {
          {{ 'published' | translate }}
        } @else {
          {{ 'unpublished' | translate }}
        }
      </dd>
    </dl>
    <div class="ui:mt-3">
      <admin-collection-items [items]="rec.metadata.items" />
    </div>
  </section>
}

