<!--
SPDX-FileCopyrightText: Fondation RERO+
SPDX-FileCopyrightText: UCLouvain
SPDX-License-Identifier: AGPL-3.0-or-later
-->
@if (response(); as data) {
  <admin-preview-email
    [emails]="suggestions().emails"
    [emailTypes]="emailTypes"
    [mandatoryEmailTypes]="mandatoryEmailTypes"
    [preview]="data.preview"
    [previewPosition]="'bottom'"
    [prePopulateRecipients]="suggestions().recipients"
    (closeDialog)="closeDialog()"
    (data)="confirmIssue($event)"
  >
    <ng-container headerMessage>
      <p-message
        class="ui:my-1"
        severity="warn"
        showTransitionOptions="0ms"
      >
        {{ 'You\'re about to send the claim.' | translate }}
      </p-message>
    </ng-container>
    <ng-container previewBottomMessage>
      <p translate>Below you can find the preview message that will be sent.</p>
    </ng-container>
  </admin-preview-email>
}
