<!--
SPDX-FileCopyrightText: Fondation RERO+
SPDX-License-Identifier: AGPL-3.0-or-later
-->
<p-menubar [model]="items()" [autoDisplay]="false">
  <ng-template #item let-item let-root="root">
    @if (item.routerLink && !item.url) {
      <span
        pRipple
        class="ui:flex ui:items-center p-menubar-item-link"
        [id]="item.id"
        [routerLink]="item.routerLink"
        [queryParams]="item.queryParams"
      >
        @if (item.icon) {
          <span [class]="item.icon" class="p-menubar-item-icon"></span>
        }
        <span>{{ item.label }}</span>
        @if (item.badge) {
          <p-badge [ngClass]="{ 'ui:ml-auto': !root, 'ui:ml-2': root }" [value]="item.badge"></p-badge>
        }
        @if (item.shortcut) {
          <span class="ui:ml-auto ui:border ui:border-surface ui:rounded ui:bg-surface-100 ui:bg-emphasis ui:text-muted-color ui:text-xs ui:p-1">{{ item.shortcut }}</span>
        }
      </span>
    }
    @if (item.url && !item.routerLink) {
      <a
        pRipple
        class="ui:flex ui:items-center p-menubar-item-link"
        [id]="item.id"
        [href]="item.url"
        [target]="item.target || '_self'"
      >
        @if (item.icon) {
          <span [class]="item.icon" class="p-menubar-item-icon"></span>
        }
        <span>{{ item.label }}</span>
        @if (item.badge) {
          <p-badge [ngClass]="{ 'ui:ml-auto': !root, 'ui:ml-2': root }" [value]="item.badge"></p-badge>
        }
        @if (item.shortcut) {
          <span class="ui:ml-auto ui:border ui:border-surface ui:rounded ui:bg-surface-100 ui:bg-emphasis ui:text-muted-color ui:text-xs ui:p-1">{{ item.shortcut }}</span>
        }
      </a>
    }
    @if (!item.url && !item.routerLink) {
      <div class="ui:flex ui:items-center p-menubar-item-link">
        @if (item.icon) {
          <span [class]="item.icon" class="p-menubar-item-icon"></span>
        }
        <span>{{ item.label }}</span>
        @if (!item.disabled && item.items) {
          <i [ngClass]="['ui:ml-auto', root ? 'fa-solid fa-angle-down fa-xs' : 'fa-solid fa-angle-right fa-xs']"></i>
        }
      </div>
    }
  </ng-template>
</p-menubar>
