<!--
SPDX-FileCopyrightText: Fondation RERO+
SPDX-License-Identifier: AGPL-3.0-or-later
-->

<ng-core-search-input [placeholder]="'username or email' | translate" [searchText]="searchText"
  (searchQuery)="searchValueUpdated($event)" [focus]="false" [displayLabel]="false"
  [disabled]="httpPending.isPending()">
</ng-core-search-input>
<p-divider></p-divider>
<!-- ngx-formly -->
<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="ui:flex ui:gap-1 ui:justify-end ui:mt-2">
    <p-button
      outlined
      severity="danger"
      size="small"
      id="user-editor-delete-button"
      (onClick)="closeDialog()"
      icon="fa fa-times"
      [label]="'Cancel' | translate"
    />
    <p-button
      type="submit"
      id="user-editor-save-button"
      size="small"
      icon="fa fa-save"
      [disabled]="httpPending.isPending()"
      [label]="'Save' | translate"
    />
  </div>
  <formly-form [model]="model()" [fields]="fields" [form]="form" />
</form>
