<!--
SPDX-FileCopyrightText: Fondation RERO+
SPDX-FileCopyrightText: UCLouvain
SPDX-License-Identifier: AGPL-3.0-or-later
-->
@if (order) {
  <article class="ui:grid ui:grid-cols-12 ui:gap-4">
    <div class="ui:col-span-12 ui:lg:col-span-9">
      <h5><a [routerLink]="[detailUrl().link]">{{ order.reference }}</a></h5>
      @let notes = order.notes | notesFilter: [noteType.STAFF_NOTE];
      @if (notes.length > 0) {
        <div class="ui:italic" [innerHTML]="notes[0].content | nl2br"></div>
      }
      <span class="ui:font-bold ui:text-muted-color ui:text-sm">
        [
        {{ order.status | translate }}
        @switch (order.status) {
          @case (orderStatus.ORDERED) {
            - {{ order.order_date| dateTranslate: 'shortDate' }}
          }
          @case (orderStatus.RECEIVED) {
            - {{ receptionDate | dateTranslate: 'shortDate' }}
          }
          @case (orderStatus.PARTIALLY_RECEIVED) {
            - {{ receptionDate | dateTranslate: 'shortDate' }}
          }
        }
        @let vendor = order.vendor.pid | getRecord: 'vendors': 'field': 'name' | async;
        @if (vendor) {
          - {{ $any(vendor) | truncateText : 10 : '…'}}
        }
        ]
      </span>
    </div>
    <div class="ui:col-span-12 ui:lg:col-span-3 ui:flex ui:flex-col ui:gap-1">
      @if (displayProvisionalAccountingData) {
        <div class="ui:flex">
          <span class="ui:w-8/12 ui:text-center ui:border-surface ui:border ui:p-2 ui:bg-surface-100 ui:rounded-l ui:font-bold">
            {{ order.account_statement.provisional.total_amount | currency : order.currency }}
          </span>
          <span class="ui:w-4/12 ui:text-center ui:border-surface ui:border ui:p-2 ui:bg-surface-100 ui:rounded-r ui:text-muted-color ui:text-right">
            <i class="fa fa-shopping-cart"></i>&nbsp;{{ order.account_statement.provisional.quantity }}
          </span>
        </div>
      }
      @if (displayExpenditureAccountingData) {
        <div class="ui:flex">
          <span class="ui:w-8/12 ui:text-center ui:border-surface ui:border ui:p-2 ui:bg-surface-100 ui:rounded-l ui:font-bold">
            {{ order.account_statement.expenditure.total_amount | currency : order.currency }}
          </span>
          <span class="ui:w-4/12 ui:text-center ui:border-surface ui:border ui:p-2 ui:bg-surface-100 ui:rounded-r ui:text-muted-color ui:text-right">
            <i class="fa fa-sign-in"></i>&nbsp;{{ order.account_statement.expenditure.quantity }}
          </span>
        </div>
      }
    </div>
  </article>
}
