<!--
SPDX-FileCopyrightText: Fondation RERO+
SPDX-License-Identifier: AGPL-3.0-or-later
-->
@if (record(); as rec) {
  <h1>{{ 'ILL request' | translate }} #{{ rec.metadata.pid }}</h1>
  <div class="ui:flex ui:flex-col ui:gap-3 ui:mt-5">
    <!-- DOCUMENT INFORMATION'S -->
    <p-panel>
      <ng-template #header>
        <span class="ui:text-xl">
          <i class="fa fa-book"></i>&nbsp;
          {{ 'Document information' | translate }}
        </span>
      </ng-template>
      <dl class="metadata ui:m-3">
        <dt translate>Title</dt>
        <dd>{{ rec.metadata.document.title }}</dd>
        @if (rec.metadata.document.authors; as authors) {
          <dt translate>Authors</dt>
          <dd>{{ authors }}</dd>
        }
        @if (rec.metadata.document.publisher || rec.metadata.document.year) {
          <dt translate>Edition</dt>
          <dd>
            @if (rec.metadata.document.publisher; as publisher) {
              {{ publisher }}
            }
            @if (rec.metadata.document.year; as year) {
              &nbsp;({{ year }})
            }
          </dd>
        }
        @if (rec.metadata.document.identifier; as identifier) {
          <dt translate>Identifiers</dt>
          <dd>{{ identifier }}</dd>
        }
        @if (rec.metadata.document.source; as source) {
          <dt translate>Published in</dt>
          <dd>
            {{ source.journal_title }}
            @if (source.volume || source.number) {
              &nbsp;(@if (source.volume) { Vol.{{ source.volume }} }
              @if (source.volume && source.number) { &mdash; }
              @if (source.number) { n° {{ source.number }} })
            }
          </dd>
        }
      </dl>
  </p-panel>

  <!-- REQUEST ADDITIONAL DETAILS -->
  <p-panel>
    <ng-template #header>
      <span class="ui:text-xl">
        <i class="fa fa-info-circle"></i>&nbsp;
        {{ 'Request additional informations' | translate }}
      </span>
    </ng-template>
    <dl class="metadata ui:m-3">
      @if (rec.metadata.found_in; as source) {
        <dt translate>Found in</dt>
        <dd>
          {{ source.source }} &mdash;
          <a
            [title]="source.url"
            class="rero-ils-external-link"
            href="{{ source.url }}"
          >
            {{ source.url | truncateText: 100 : '…' : 'char' }}
          </a>
        </dd>
      }
      <dt translate>Requester</dt>
      <dd>
        @if (requester() && requester().patron && requester().patron.barcode[0]) {
          <a [routerLink]="['/circulation', 'patron', requester().patron.barcode[0]]">
            <span id="patron-last-name">{{ requester().last_name }}</span>
            @if (requester().first_name; as firstName) {
              <span id="patron-first-name">, {{ firstName }}</span>
            }
          </a>
        }
      </dd>
      <dt translate>Request date</dt>
      <dd>{{ rec.created | dateTranslate : 'medium' }}</dd>
      <dt translate>Request status</dt>
      <dd>
        <p-tag [severity]="$any(tagSeverity())">
          {{ rec.metadata.status | translate }}
        </p-tag>
      </dd>
      @if (rec.metadata.loan_status) {
        <dt translate>Loan status</dt>
        <dd>
          <p-tag [severity]="$any(loanTagSeverity())">
            {{ rec.metadata.loan_status | translate}}
          </p-tag>
        </dd>
      }
      <dt translate>Pickup location</dt>
      <dd>
        @if (rec.metadata.pickup_location.pid | getRecord:'locations':'field':'ill_pickup_name' | async; as location_name) {
          {{ location_name }}
        }
      </dd>
      <dt translate>Scope</dt>
      <dd>
        @if (rec.metadata.copy) {
          <span translate>Copy</span>
        } @else {
          <span translate>Loan</span>
        }
      </dd>
      @if (rec.metadata.copy) {
        <dt translate>Pages</dt>
        <dd>{{ rec.metadata.pages }}</dd>
      }
    </dl>
  </p-panel>

  <!-- NOTES :: public/staff -->
  @if (rec.metadata.notes) {
    <p-panel>
      <ng-template #header>
        <span class="ui:text-xl">
          <i class="fa fa-sticky-note-o"></i>&nbsp;
          {{ 'Notes' | translate }}
        </span>
      </ng-template>
      <dl class="metadata ui:m-3">
        @for (note of rec.metadata.notes; track $index) {
          <dt translate>{{ note.type }}</dt>
          <dd [innerHTML]="note.content | nl2br"></dd>
        }
      </dl>
    </p-panel>
  }
  </div>
}
