<!--
SPDX-FileCopyrightText: Fondation RERO+
SPDX-FileCopyrightText: UCLouvain
SPDX-License-Identifier: AGPL-3.0-or-later
-->

@if (loaded() && parent) {
  <div class="ui:flex ui:gap-2">
    <div class="ui:grow">
      @switch (parent.type) {
        @case ('overdue') {
          <admin-patron-transaction-event-overdue [parent]="parent" [event]="event()" />
        }
        @default {
          <admin-patron-transaction-event-default [parent]="parent" [event]="event()" />
        }
      }
    </div>
    <div>
      <p-tag [severity]="$any(severity())">
        @if (event().type !== eventTypes.DISPUTE) {
          {{ event().amount | currency : organisation()?.default_currency }}
        } @else {
          {{ 'dispute' | translate }}
        }
      </p-tag>
    </div>
  </div>
  <div class="ui:flex ui:gap-2 ui:flex-wrap ui:mt-2">
    <div class="ui:flex ui:grow ui:flex-wrap ui:gap-2">
      @if (event().operator) {
        <p-tag severity="secondary">
          <i class="fa-solid fa-circle-user"></i>&nbsp;{{ event().operator.name }}
        </p-tag>
      }
      @if (event().library) {
        <p-tag severity="secondary">
          <i class="fa-solid fa-building-columns"></i>&nbsp;{{ event().library.name }}
        </p-tag>
      }
      <p-tag severity="secondary">
        <i class="fa-solid fa-right-left"></i>&nbsp;{{ parent.type | translate }}
      </p-tag>
    </div>

    <p-tag severity="secondary">
      <i class="fa-regular fa-clock"></i>&nbsp;{{ event().creation_date | date : 'short' }}
    </p-tag>
  </div>
} @else {
  <i class="fa-solid fa-spin fa-spinner"></i>&nbsp;{{ 'Loading in progress…' | translate }}
}
