<!--
SPDX-FileCopyrightText: Fondation RERO+
SPDX-FileCopyrightText: UCLouvain
SPDX-License-Identifier: AGPL-3.0-or-later
-->
<h5>
  @if (parent().document) {
    {{ parent().document.title | mainTitle }}
  } @else if (parent().note) {
    [{{ 'Note' | translate }}: {{ parent().note }}]
  }
</h5>
<dl class="metadata">
  @if (parent().loan) {
    <dt translate>Call number</dt>
    <dd>
      @if (parent().loan.item) {
        <shared-inherited-call-number [item]="parent().loan?.item" />
        (<a [routerLink]="['/records', 'items', 'detail', parent().loan.item.pid]">{{ parent().loan.item.barcode }}</a>)
      } @else {
        <span class="ui:text-muted-color ui:italic">[item_pid:{{ parent().loan.item_pid.value }}]</span>
      }
    </dd>
  }
  <dt translate>Patron</dt>
  <dd>
    @if (parent().patron.barcode) {
      <a [routerLink]="['/circulation', 'patron', parent().patron.barcode, 'fees']" [queryParams]="{event: parent().pid}">{{ parent().patron.pid | patronName | async }}</a>
    } @else {
      <a [routerLink]="['/records', 'patrons', 'detail', parent().patron.pid]">{{ parent().patron.pid | patronName | async }}</a>
    }
  </dd>
</dl>
