<!--
SPDX-FileCopyrightText: Fondation RERO+
SPDX-FileCopyrightText: UCLouvain
SPDX-License-Identifier: AGPL-3.0-or-later
-->
@if (record(); as record) {
  <!-- ROLLOVER INFO -->
  @if (!record.metadata.is_active) {
    <p-message severity="warn" showTransitionOptions="0ms">
      {{ 'Fiscal year closed'|translate }}
    </p-message>
  }
  <header class="ui:my-3">
    <h1>{{ record.metadata.name }}</h1>
  </header>
  <section>
    <dl class="metadata">
      <dt translate>Total</dt>
      <dd>{{ totalAmount() | currency:currencyCode:'symbol' }}</dd>
    </dl>
  </section>
}
