<!--
SPDX-FileCopyrightText: Fondation RERO+
SPDX-License-Identifier: AGPL-3.0-or-later
-->
<div class="ui:py-2">
  @for (field of entities | keyvalue; track $index) {
    <dl class="metadata ui:odd:bg-surface-50">
      <dt>{{ field.key | translate |ucfirst }}</dt>
      <dd>
        <ul class="ui:list-none">
          @for (entity of field.value; track $index) {
            <li>
              <i [title]="entity.type | translate" class="{{ entity.icon }}"></i>&nbsp;
              <a [routerLink]="['/records', entity.resource_type + '_entities', 'detail', entity.pid]">
                {{ entity.authorized_access_point }}
              </a>
            </li>
          }
        </ul>
      </dd>
    </dl>
  } @empty {
    <div class="ui:font-bold" translate>No entities</div>
  }
</div>
