<!--
SPDX-FileCopyrightText: Fondation RERO+
SPDX-FileCopyrightText: UCLouvain
SPDX-License-Identifier: AGPL-3.0-or-later
-->
<div class="ui:grid ui:grid-cols-12 ui:m-3">
  @let m = $any(item()?.metadata);
  <div class="ui:col-span-9">
    <!-- ENUMERATION AND CHRONOLOGY -->
    @if (m?.enumerationAndChronology) {
      <div class="ui:flex ui:mb-2">
        {{ m.enumerationAndChronology }}
      </div>
    }
    <!-- LIBRARY AND LOCATION -->
    @if (context() === 'book') {
      <div class="ui:flex ui:flex-col ui:md:flex-row">
        <div class="ui:font-bold ui:md:w-[30%] ui:w-[100%]" translate>Location</div>
        <div>
          {{m.library.name}}: {{m.location.name}}
        </div>
      </div>
    }
    <!-- CALL NUMBER -->
    @if (m?.call_number) {
      <div class="ui:flex ui:flex-col ui:md:flex-row">
        <div class="ui:font-bold ui:md:w-[30%] ui:w-[100%]" translate>Call number</div>
        <div>
          {{ m.call_number }}
        @if (m.second_call_number) {
          | {{ m.second_call_number }}
        }
        </div>
      </div>
    }
    <!-- ITEM IN COLLECTION -->
    @if (m?.in_collection) {
      <div class="ui:flex ui:flex-col ui:md:flex-row">
        <div class="ui:font-bold ui:md:w-[30%] ui:w-[100%]" translate>Temporary location</div>
        <div>
          @for (collection of m.in_collection; track $index; let last = $last) {
            <a href="/{{ collection.viewcode }}/collections/{{ collection.pid }}">{{ collection.title }}</a>
            {{ last ? '' : '; ' }}
          }
        </div>
      </div>
    } @else {
      @if (m?.temporary_location) {
        <div class="ui:flex ui:flex-col ui:md:flex-row">
          <div class="ui:font-bold ui:md:w-[30%] ui:w-[100%]" translate>Temporary location</div>
          <div>
            <i class="fa-solid fa-triangle-exclamation text-warning" aria-hidden="true"></i>
            {{ m.temporary_location.name }}
          </div>
        </div>
      }
    }
    <!-- BARCODE -->
    <div class="ui:flex ui:flex-col ui:md:flex-row">
      <div class="ui:font-bold ui:md:w-[30%] ui:w-[100%]" translate>Barcode</div>
      <div>
        {{ m?.barcode }}
      </div>
    </div>
    <!-- NOTES -->
    @if (m?.notes && m?.notes.length > 0) {
      @for (note of m.notes | notesFilter : noteAuthorizedTypes; track $index) {
        <div class="ui:flex ui:flex-col ui:md:flex-row">
          <div class="ui:font-bold ui:md:w-[30%] ui:w-[100%]">{{ note.type | translate }}</div>
          <div [innerHTML]="note.content | nl2br"></div>
        </div>
        }
    }
    <!-- URL -->
    @if (m?.url) {
      <div class="ui:flex ui:flex-col ui:md:flex-row">
        <div class="ui:font-bold ui:md:w-[30%] ui:w-[100%]" translate>URL</div>
        <div>
          <a target="_blank" [href]="m.url | safeUrl">{{ m.url }}</a>
        </div>
      </div>
    }
  </div>

  <div class="ui:col-span-3 ui:flex ui:flex-col ui:gap-b-2 ui:items-end">
    @if (!showRequestDialog) {
      @if (circulationInformation) {
        <div class="ui:text-right">
          <i class="fa-solid fa-triangle-exclamation text-warning" aria-hidden="true"></i>
          {{ circulationInformation }}
        </div>
      }
      <shared-availability class="ui:justify-top ui:text-right" recordType="item" [record]="item()" [apiService]="itemApiService" />
      @if(isPatron()) {
        <div class="ui:my-2">
          <public-search-item-request [record]="item()" (request)="showRequestDialog = !showRequestDialog" />
        </div>
      }
    }
  </div>
</div>

@if(isPatron()) {
  <div class="ui:mb-2" [hidden]="!showRequestDialog">
    <public-search-pickup-location
      [record]="item()"
      recordType="item"
      [viewcode]="viewcode()"
      (closeEvent)="showRequestDialog = !showRequestDialog"
      class="ui:w-full"
    />
  </div>
}

