<!--
SPDX-FileCopyrightText: Fondation RERO+
SPDX-License-Identifier: AGPL-3.0-or-later
-->
@if (record(); as rec) {
  <h1 id="template-name">
    {{ rec.metadata.name }}
    @if (rec.metadata.visibility && rec.metadata.visibility === 'private') {
      <i class="fa-solid fa-lock ui:text-muted-color ui:ml-2" aria-hidden="true"></i>
    }
  </h1>
  <dl class="metadata">
    <!-- DESCRIPTION -->
    @if (rec.metadata.description) {
      <dt translate>Description</dt>
      <dd id="template-description" [innerHTML]="rec.metadata.description | nl2br"></dd>
    }
    <!-- CREATOR -->
    @if (rec.metadata.creator.pid | getRecord: 'patrons' | async; as creator) {
      <dt translate>Creator</dt>
      <dd>
        {{ $any(creator).metadata.first_name }} {{ $any(creator).metadata.last_name }}
      </dd>
    }
    <!-- TYPE -->
    @if (rec.metadata.template_type) {
      <dt translate>Type</dt>
      <dd id="template-type">
        {{ rec.metadata.template_type }}
      </dd>
    }
  </dl>
}
