<section *ngIf="!isLoading; else loading" class="content">
  <ng-container *ngIf="transactions.length > 0; else noTransaction">
    <!-- HEADER ~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <div class="row mb-1 align-items-center">
      <div class="col mr-1 d-none d-lg-block">
        <div class="row p-2 bg-dark rounded text-light">
          <div class="col-lg-2 pl-20" translate>Date</div>
          <div class="col-lg-7" translate>Category</div>
          <div class="col-lg-3 text-lg-right">
            {{ 'Total amount' | translate }} : {{ transactionsTotalAmount | currency: organisation.default_currency }}
          </div>
        </div>
      </div>
      <!-- Pay all patron-transactions button -->
      <div class="col-sm-1 pl-0">
        <button class="btn btn-primary btn-block d-none d-lg-block"
                type="button"
                (click)="payAllTransactions()"
                [disabled]="transactionsTotalAmount <= 0"
                translate
        >
          Pay all
        </button>
      </div>
    </div>
    <!-- FEES ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <admin-patron-transaction
      class="row mb-1"
      *ngFor="let transaction of transactions"
      [transaction]="transaction">
    </admin-patron-transaction>
  </ng-container>
</section>

<section class="mt-4">
  <div class="row">
    <div class="col col-12">
      <button type="button"
              class="pl-0 pt-0 btn"
              (click)="toggleFeesHistory()"
              [attr.aria-expanded]="!isHistoryCollapsed"
              aria-controls="collapse">
        <i [ngClass]="{ 'fa-caret-down pr-0': !isHistoryCollapsed, 'fa-caret-right pr-1': isHistoryCollapsed }" class="fa" aria-hidden="true"></i>
      </button>
      <h5 class="d-inline-block" translate>History</h5>
    </div>
  </div>
  <ng-container *ngIf="!isHistoryCollapsed">
     <ng-container *ngIf="!historyIsLoading; else loading">
       <ng-container *ngIf="historyTransactions.length > 0; else noHistory">
         <admin-patron-transaction
            class="row mb-1 align-items-start"
            *ngFor="let transaction of historyTransactions"
            [transaction]="transaction">
         </admin-patron-transaction>
       </ng-container>
     </ng-container>
  </ng-container>
</section>

<ng-template #noTransaction>
  {{ 'No pending fee for this patron.' | translate }}
</ng-template>

<ng-template #noHistory>
  {{ 'No fee history for this patron.' | translate }}
</ng-template>

<ng-template #loading>
  <div class="text-center my-5">
    <i class="fa fa-spin fa-spinner fa-2x"></i>
  </div>
</ng-template>
