<!--
SPDX-FileCopyrightText: Fondation RERO+
SPDX-FileCopyrightText: UCLouvain
SPDX-License-Identifier: AGPL-3.0-or-later
-->
@if (record() && requester()) {
  <h5>
    <div class="ui:flex ui:gap-2">
      <a [routerLink]="[detailUrl().link]">
        {{ record().metadata.document.title }}
      </a>
      <p-tag [severity]="$any(tagSeverity())" [value]="record().metadata.status | translate" />
    </div>
  </h5>
  @if (record().metadata.document.authors) {
    <div class="ui:mb-2">{{ record().metadata.document.authors }}</div>
  }
  <dl class="metadata">
    <dt translate>Requested by</dt>
    <dd>
      @if (requester()?.patron?.barcode?.[0]) {
        <a [routerLink]="['/circulation', 'patron', requester()?.patron?.barcode?.[0]]">
          <span id="patron-last-name">{{ requester()?.last_name }}</span>
          @if (requester()?.first_name) {
            <span id="patron-first-name">, {{ requester()?.first_name }}</span>
          }
        </a>
      }
    </dd>
    <dt translate>Request date</dt>
    <dd>{{ record().created | dateTranslate:'medium' }}</dd>
  </dl>
}
