<!--
SPDX-FileCopyrightText: Fondation RERO+
SPDX-FileCopyrightText: UCLouvain
SPDX-License-Identifier: AGPL-3.0-or-later
-->
<dl class="metadata">
<!-- AUTHORIZED ACCESS POINT -->
@if (record().authorized_access_point) {
  <dt translate>Authorized access point</dt>
  <dd>{{ record().authorized_access_point }}</dd>
}
<!-- DATE OF BIRTH -->
@if (record().date_of_birth) {
  <dt translate>Birth date</dt>
  <dd>{{ record().date_of_birth }}</dd>
}
<!-- DATE OF DEATH -->
@if (record().date_of_death) {
  <dt translate>Death date</dt>
  <dd>{{ record().date_of_death }}</dd>
}
<!-- LANGUAGE -->
@if (record().language) {
  <dt translate>Language</dt>
  <dd>
    <ul class="ui:list-none">
      @for (language of record().language; track $index) {
        <li>{{ ('lang_' + language) | translate }}</li>
      }
    </ul>
  </dd>
}
  <!-- GENDER -->
@if (record().Gender) {
  <dt translate>Gender</dt>
  <dd>{{ record().Gender }}</dd>
}
<!-- BIBLIOGRAPHICAL INFORMATION -->
@if (record().biographical_information) {
  <dt translate>Biographical information</dt>
  <dd [innerHtml]="record().biographical_information.join('\n') | urlActive | nl2br"></dd>
}
<!-- NAME -->
@if (record().name) {
  <dt translate>Name</dt>
  <dd>{{ record().name }}</dd>
}
<!-- VARIANT ACCESS POINT -->
@if (record().variant_access_point) {
  <dt translate>Variant name</dt>
  <dd>
    <ul class="ui:list-none">
      @for (variant_name of record().variant_access_point; track $index) {
        <li>{{ variant_name }}</li>
      }
    </ul>
  </dd>
}
</dl>
