<!--
SPDX-FileCopyrightText: Fondation RERO+
SPDX-License-Identifier: AGPL-3.0-or-later
-->
<!-- Due date dropdown menu -->
@if (paginator.getRecordsCount() > 0) {
  <section class="ui:flex ui:justify-end">
    <p-select
      [options]="sortOptions"
      [(ngModel)]="sortCriteria"
      optionLabel="label"
      optionValue="value"
      (onChange)="selectingSortCriteria($event.value)">
      <ng-template #selectedItem let-opt>
        <span><i [class]="opt.icon" class="ui:mr-1"></i>{{ opt.label }}</span>
      </ng-template>
      <ng-template #item let-opt>
        <span><i [class]="opt.icon" class="ui:mr-1"></i>{{ opt.label }}</span>
      </ng-template>
    </p-select>
  </section>
}

<!-- header -->
<section id="loans-section" class="ui:mt-4">
  <p-panel>
    <ng-template #header>
      <div class="ui:hidden ui:w-full ui:md:grid ui:grid-cols-12 ui:gap-4 ui:text-lg ui:font-bold ui:items-center">
        <div class="ui:col-span-8" translate>Document</div>
        <div class="ui:col-span-2" translate>Due date</div>
      </div>
    </ng-template>
  @if (loaded()) {
    @if (paginator.getRecordsCount() > 0) {
      @for (loan of records(); track $index) {
        <div class="ui:odd:bg-surface-50 ui:my-1">
          <public-search-patron-profile-loan [record]="loan" id="loan-{{ loan.metadata.pid }}" />
        </div>
      }
      <shared-search-show-more-pager id="show-more-loans" [paginator]="paginator" />
    } @else {
        <div class="ui:font-bold ui:mx-2 ui:my-6" translate>No loan</div>
    }
  } @else {
      <div class="ui:font-bold ui:mx-2 ui:my-6" translate>Loading in progress</div>
  }
  </p-panel>
</section>
