// SPDX-FileCopyrightText: Fondation RERO+
// SPDX-License-Identifier: AGPL-3.0-or-later

admin-migration-data {
  .markdown {
    table {
      border-spacing: 0;
      th {
        @apply ui:text-left;
      }
      td,
      th {
        @apply ui:align-top ui:py-1 ui:px-3;
      }
      tbody tr:nth-of-type(odd) {
        background-color: var(--p-surface-100);
      }
    }
  }
  .data {
    .col-overflow {
      @apply ui:overflow-auto ui:max-h-[600px];
    }
    .json {
      @apply ui:border-l-1 ui:pl-2;
      border-color: var(--p-surface-300)
    }
  }
}
