<!--
SPDX-FileCopyrightText: Fondation RERO+
SPDX-License-Identifier: AGPL-3.0-or-later
-->

@if (record()) {
<div class="ui:flex ui:justify-between">
  <div>
    <h5>
      {{ record().metadata.name }}&nbsp;<p-tag [value]="record().metadata.status" />
    </h5>
    @if(record().metadata?.description) {
    <div>
      <p>
        {{ record().metadata.description }}
      </p>
    </div>
    }
  </div>
  <div class="ui:flex ui:gap-1">
    <p-button
      [routerLink]="['..', 'format', 'migration_data']"
      [queryParams]="{ migration: record().id }"
      outlined
      size="small"
      [label]="'Data conversion' | translate"
    />
    <p-button
      [routerLink]="['..', 'deduplication', 'migration_data']"
      [queryParams]="{ migration: record().id }"
      outlined
      size="small"
      [label]="'Deduplication' | translate"
    />
  </div>
</div>
}
