<ng-container *ngIf="event !== undefined">
  <div class="col-lg-3 pr-4 text-right event-timestamp">
    <i class="fa fa-calendar-o"></i> {{ event.creation_date | dateTranslate: 'shortDate' }}
    <i class="fa fa-clock-o pl-1"></i> {{ event.creation_date | dateTranslate: 'HH:mm:ss' }}
  </div>
  <div class="col-lg-9 event-content">
    <div class="row mb-1" [ngClass]="{'event-highlight': event.type === patronTransactionEventType.DISPUTE}">
      <div class="col-lg-9 d-inline-block text-truncate label">{{ label }}</div>
      <div class="col-lg-2 text-lg-right">
        <span class="badge"
              *ngIf="event.type !== patronTransactionEventType.DISPUTE"
              [ngClass]="{'badge-danger': event.type === patronTransactionEventType.FEE,
                          'badge-success': event.type === patronTransactionEventType.PAYMENT,
                          'badge-info': event.type === patronTransactionEventType.CANCEL}">
          {{ event.amount | currency: organisation.default_currency }}
        </span>
      </div>
      <div class="col-lg-1 text-center more-detail" [ngClass]="{'force-display': !isCollapsed}">
        <i class="fa"
           *ngIf="event.pid"
           [ngClass]="{'fa-eye': isCollapsed,
                       'fa-eye-slash': !isCollapsed}"
           (click)="isCollapsed=!isCollapsed"></i>
      </div>
    </div>
    <ng-container *ngIf="!isCollapsed">
      <div class="row" *ngIf="event.note">
        <div class="col-2 offset-1 label-title">
          <i class="fa fa-comment-o pr-1"></i>
          <ng-container translate>Note</ng-container>
        </div>
        <div class="col-9">{{ event.note }}</div>
      </div>
      <ng-container *ngIf="event.operator">
        <div class="row" *ngIf="event.operator.pid | getRecord:'patrons' | async as operator">
          <div class="col-2 offset-1 label-title">
            <i class="fa fa-user pr-1"></i>
            <ng-container translate>Operator</ng-container>
          </div>
          <div class="col-9">
            <span *ngIf="operator.metadata.last_name">{{ operator.metadata.last_name }}</span>
            <span *ngIf="operator.metadata.last_name && operator.metadata.first_name">, </span>
            <span *ngIf="operator.metadata.first_name">{{ operator.metadata.first_name }} </span>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="event.library">
        <div class="row" *ngIf="event.library.pid | getRecord:'libraries' | async as library">
          <div class="col-2 offset-1 label-title">
            <i class="fa fa-map-marker pr-1"></i>
            <ng-container translate>Library</ng-container>
          </div>
          <div class="col-9">{{ library.metadata.name }}</div>
        </div>
      </ng-container>
      <ng-container *ngIf="event.library">
        <div class="row mb-1" *ngFor="let step of event.steps; let first = first">
          <div class="col-2 offset-1" [class.label-title]="first">
            <ng-container *ngIf="first">
              <i class="fa fa-cubes pr-1"></i>{{ 'Steps' | translate }}
            </ng-container>
          </div>
          <div class="col-7">{{ step.timestamp | dateTranslate: 'shortDate' }}</div>
          <div class="col-2">
            <span class="badge"
                  *ngIf="event.type !== patronTransactionEventType.DISPUTE"
                  [ngClass]="{'badge-danger': event.type === patronTransactionEventType.FEE,
                              'badge-success': event.type === patronTransactionEventType.PAYMENT,
                              'badge-info': event.type === patronTransactionEventType.CANCEL}">
             {{ step.amount | currency: organisation.default_currency }}
            </span>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</ng-container>
